/* Estilos Generales */

@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oxanium", serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-areas:
    "nav"
    "filters"
    "main"
    "pagination"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #f4f4f4;
  min-height: 100vh;
}

/* Nav bar */

nav {
  grid-area: nav;
  background-color: #0b090a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav h1 {
  font-size: 2.5em;
  padding: 15px;
}

nav i {
  padding: 15px;
}

#menu-icon {
  display: block;
  font-size: 1.4em;
  cursor: pointer;
}

.nav-links {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 10px 15px;
}

/* Search Filters */

.filters {
  grid-area: filters;
  padding: 15px;
  margin-top: 5em;
}

.filters h2 {
  font-size: 1.5em;
}

.filter-options {
  margin: 1em 0 0.5em;
}

#buscador {
  color: #0b090a;
  bottom: unset;
  padding: 7px;
  font-family: "Oxanium", serif;
  width: 150px;
  font-size: 0.89em;
}

/* Products */

main {
  grid-area: main;
  display: grid;
  place-content: center;
}

.products {
  display: grid;
  place-content: center;
  gap: 20px;
  padding: 15px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #0b090a;
  width: 500px;
  height: auto;
  padding: 15px;
}

.products h3 {
  padding: 15px;
}

.product img {
  width: 450px;
  height: 400px;
}

.product button {
  width: 100px;
  height: auto;
  font-family: "Oxanium", serif;
  font-weight: 500;
}

/* Pagination */

.pagination {
  grid-area: pagination;
  text-align: center;
  padding: 16px;
  font-family: "Oxanium", serif;
  margin: 0 0 0.5em;
}

.pagination button {
  color: #0b090a;
  bottom: unset;
  padding: 15px;
  font-family: "Oxanium", serif;
}

/* Footer */

footer {
  grid-area: footer;
  background-color: #ddd;
  text-align: center;
  padding: 15px;
  font-size: 0.975em;
}

footer i {
  padding: 10px;
  margin: 0 0 0.5em;
  font-size: 1.5em;
}

/* Media Queries */

